<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>MY TASK</title>

<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.error{
  color: red;
}
</style>
</head>
<body>

<div class="container">
  <h4><em>Searching</em></h4>
  <form action='search_empl' method="POST">
  {% csrf_token %}
  <div class="row">

  <div class="row">
      <div class="col-25">
        <label for="pan">PAN</label>
      </div>
      <div class="col-75">
        <input type="text" id="pan" name="pan" placeholder="Your PAN">
        
      </div>
  </div>

      
  <input type="submit" value="Search">
  </div>      
</form>
</div>

<br>

<div class="container">
  <!-- Search Tab -->
  <form action="." method="POST" autocomplete="off" onsubmit="return validateForm()">

    <!-- Div 1 -->

    {% csrf_token %}
    <div class="row">
      <div class="col-25">
        <label for="name">Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="name" name="name" placeholder="Your Name">
        <span id="name_error" class="error"></span>
      </div>
    </div>

    <!-- Div 2 -->

    <div class="row">
      <div class="col-25">
        <label for="age">Age</label>
      </div>
      <div class="col-75">
        <input type="text"  id="age" name="age" placeholder="Your Age (in numbers)">
        <span id="age_error" class="error"></span>
      </div>
    </div>

    <!-- Div 3 -->

    <div class="row">
      <div class="col-25">
        <label for="email">Email</label>
      </div>
      <div class="col-75">
        <input type="text" id="email" name="email" placeholder="Your Email">
        <span id="email_error" class="error"></span>
      </div>
    </div>

    <!-- Div 4 -->

    <div class="row">
      <div class="col-25">
        <label for="city">City</label>
      </div>
      <div class="col-75">
        <select id="city" name="city">
          <option value="">Select City</option>
          <option value="gurgaon">Gurgaon</option>
          <option value="delhi">Delhi</option>
          <option value="noida">Noida</option>
          <option value="pune">Pune</option>
        </select>
        <span id="city_error" class="error"></span>
      </div>
    </div>

    <!-- Div 5 -->

    <div class="row">
      <div class="col-25">
        <label for="pan">PAN</label>
      </div>
      <div class="col-75">
        <input type="text" id="pan" name="pan" placeholder="Your PAN">
        <span id="pan_error" class="error"></span>
      </div>
    </div>

    <!-- Div 6 -->

    <div class="row">
      <div class="col-25">
        <label for="gender">Gender</label>
      </div>
      <div class="col-75">
        <select id="gender" name="gender">
          <option value="">Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <span id="gender_error" class="error"></span>
      </div>
    </div>


    <div class="row">
      <input type="submit" value="ADD">
    </div>

  </form>

<!-- View Records page redirects to new page -->
    
  <form action='show_stats' method="POST">
      	{% csrf_token %}
    	<div class="row">
      <input type="submit" value="View Records">
    </div>
  </form>


</div>

</body>


<script>

  function validateForm() {

    var status= true;

    var name = document.getElementById('name').value;
    var age = document.getElementById('age').value;
    var email = document.getElementById('email').value;
    var city = document.getElementById('city').value;
    var pan = document.getElementById('pan').value;
    var gender = document.getElementById('gender').value;


    if(name == ""){
      document.getElementById('name_error').innerHTML =" ** Please fill the name field";
      status= false;
    } else{
      if(!isNaN(name)){
        document.getElementById('name_error').innerHTML =" ** only characters are allowed";
        status= false;
      }
      else{
        document.getElementById('name_error').innerHTML ="";
      }
    }


    if(age == ""){
      document.getElementById('age_error').innerHTML =" ** Please fill the age field";
      status= false;
    }
    else{
      if((isNaN(age))) {
        document.getElementById('age_error').innerHTML =" ** Please fill age in numbers";
        status= false;
      }
      else{
        document.getElementById('age_error').innerHTML ="";
      }
    }


    if(email == ""){
      document.getElementById('email_error').innerHTML =" ** Please fill the email id field";
      status= false;
    }
    else{
      if(email.indexOf('@') <= 0 ){
        // for @ position
        document.getElementById('email_error').innerHTML =" ** Invalid Email";
        status= false;
      }
      else{
        if((email.charAt(email.length-4)!='.') || (email.charAt(emails.length-3)!='.')){
          // for . position from last
          document.getElementById('email_error').innerHTML =" ** Invalid Email";
          status= false;
        }
        else{
          document.getElementById('email_error').innerHTML ="";
        }
      }
    }

    if(city == ""){
      document.getElementById('city_error').innerHTML =" ** Please fill the city field";
      status= false;
    }
    else{
      document.getElementById('city_error').innerHTML ="";
    }

    if(pan == ""){
      document.getElementById('pan_error').innerHTML =" ** Please fill the pan field";
      status= false;
    }
    else{
      document.getElementById('pan_error').innerHTML ="";
    }

    if(gender == ""){
      document.getElementById('gender_error').innerHTML =" ** Please fill the gender field";
      status= false;
    }
    else{
      document.getElementById('gender_error').innerHTML ="";
    }

    return status;
  }

</script>

</html>
